LAPD Crime dataset from 2020 to 2025

28 Columns:
0. DR_NO: Division of Records Number: Official file number made up of a 2 digit year, area ID, and 5 digits
1. Date Rptd
2. DATE OCC
3. TIME OCC: 
4. AREA: The LAPD has 21 Community Police Stations referred to as Geographic Areas within the department. These Geographic Areas are sequentially numbered from 1-21.
5. AREA NAME: The 21 Geographic Areas or Patrol Divisions are also given a name designation that references a landmark or the surrounding community that it is responsible for. For example 77th Street Division is located at the intersection of South Broadway and 77th Street, serving neighborhoods in South Los Angeles.
6. Rpt Dist No: A four-digit code that represents a sub-area within a Geographic Area. All crime records reference the "RD" that it occurred in for statistical comparisons. 
7. Part 1-2
8. Crm Cd: Indicates the crime committed. (Same as Crime Code 1)
9. Crm Cd Desc: Defines the Crime Code provided
10. Mocodes: 	
Modus Operandi: Activities associated with the suspect in commission of the crime.See attached PDF for list of MO Codes in numerical order.
11. Vict Age: Two character numeric
12. Vict Sex: F - Female M - Male X - Unknown
13. Vict Descent: Descent Code: A - Other Asian B - Black C - Chinese D - Cambodian F - Filipino G - Guamanian H - Hispanic/Latin/Mexican I - American Indian/Alaskan Native J - Japanese K - Korean L - Laotian O - Other P - Pacific Islander S - Samoan U - Hawaiian V - Vietnamese W - White X - Unknown Z - Asian Indian
14. Premis Cd: The type of structure, vehicle, or location where the crime took place.
15. Premis Desc: Defines the Premise Code provided.
16. Weapon Used Cd: The type of weapon used in the crime.
17. Weapon Desc: Defines the Weapon Used Code provided.
18. Status: Status of the case. (IC is the default)
19. Status Desc: Defines the Status Code provided.
20. Crm Cd 1: Indicates the crime committed. Crime Code 1 is the primary and most serious one. Crime Code 2, 3, and 4 are respectively less serious offenses. Lower crime class numbers are more serious.
21. Crm Cd 2: May contain a code for an additional crime, less serious than Crime Code 1.
22. Crm Cd 3
23. Crm Cd 4
24. LOCATION: Street address of crime incident rounded to the nearest hundred block to maintain anonymity.
25. Cross Street: Cross Street of rounded Address
27. LAT: Latitude
28. LON: Longtitude

Reference: https://data.lacity.org/Public-Safety/Crime-Data-from-2020-to-Present/2nrs-mtv8/about_data

Steps:
1. Read csv data
2. Check null data
- Replace null value with X in "Vict Descent" and "Premis Desc" column
- Replace null with "CC" (match to UNK in "Status Desc") in "Status" column
- Remove column "AREA", "Mocodes", "Premis Cd", "Weapon Used Cd", "Weapon Desc","Crm Cd 1", "Crm Cd 2", "Crm Cd 3", "Crm Cd 4" and "Cross Street" (too many null, data not useful)
3. Change data type:
- "Date Rptd" and "DATE OCC" to datetime 
- "TIME OCC" to time
- "AREA NAME", "Rpt Dist No", "Part 1-2", "Crm Cd", "Crm Cd Desc", "Vict Sex", "Vict Descent", "Premis Desc", "Status", "Status Desc" to category
4. Replace space with underscore in column names and convert to lowercase
5. Extra cleaning: 
- Convert misencoded in "vict_sex" and "vict_descent" column to X (unknown)
- Convert zero and negative age to missing in "vict_age" column
- Remove data in Year 2025 (too little data, skewed timeline plot)

In [16]:
import pandas as pd

In [17]:
crime_lapd = pd.read_csv("Crime_Data_from_2020_to_Present_20260131.csv")
crime_lapd.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,211507896,2021 Apr 11 12:00:00 AM,2020 Nov 07 12:00:00 AM,845,15,N Hollywood,1502,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,7800 BEEMAN AV,NaN,34.2124,-118.4092
1,201516622,2020 Oct 21 12:00:00 AM,2020 Oct 18 12:00:00 AM,1845,15,N Hollywood,1521,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,IC,Invest Cont,230.0,NaN,NaN,NaN,ATOLL AV,N GAULT,34.1993,-118.4203
2,240913563,2024 Dec 10 12:00:00 AM,2020 Oct 30 12:00:00 AM,1240,9,Van Nuys,933,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,14600 SYLVAN ST,NaN,34.1847,-118.4509
3,210704711,2020 Dec 24 12:00:00 AM,2020 Dec 24 12:00:00 AM,1310,7,Wilshire,782,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,...,IC,Invest Cont,331.0,NaN,NaN,NaN,6000 COMEY AV,NaN,34.0339,-118.3747
4,201418201,2020 Oct 03 12:00:00 AM,2020 Sep 29 12:00:00 AM,1830,14,Pacific,1454,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),...,IC,Invest Cont,420.0,NaN,NaN,NaN,4700 LA VILLA MARINA,NaN,33.9813,-118.4350

In [18]:
crime_lapd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1004991 entries, 0 to 1004990
Data columns (total 28 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   DR_NO           1004991 non-null  int64
 1   Date Rptd       1004991 non-null  object
 2   DATE OCC        1004991 non-null  object
 3   TIME OCC        1004991 non-null  int64
 4   AREA            1004991 non-null  int64
 5   AREA NAME       1004991 non-null  object
 6   Rpt Dist No     1004991 non-null  int64
 7   Part 1-2        1004991 non-null  int64
 8   Crm Cd          1004991 non-null  int64
 9   Crm Cd Desc     1004991 non-null  object
 10  Mocodes         853372 non-null   object
 11  Vict Age        1004991 non-null  int64
 12  Vict Sex        860347 non-null   object
 13  Vict Descent    860335 non-null   object
 14  Premis Cd       1004975 non-null  float64
 15  Premis Desc     1004403 non-null  object
 16  Weapon Used Cd  327247 non-null   float64
 17  Weapon Desc     327247 non-null   object
 18  Status          1004990 non-null  object
 19  Status Desc     1004991 non-null  object
 20  Crm Cd 1        1004980 non-null  float64
 21  Crm Cd 2        69160 non-null    float64
 22  Crm Cd 3        2314 non-null     float64
 23  Crm Cd 4        64 non-null       float64
 24  LOCATION        1004991 non-null  object
 25  Cross Street    154236 non-null   object
 26  LAT             1004991 non-null  float64
 27  LON             1004991 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 214.7+ MB

In [19]:
# Replace null value with X in "Vict Descent" and "Premis Desc" column
crime_lapd["Vict Descent"] = crime_lapd["Vict Descent"].fillna("X")
crime_lapd["Premis Desc"] = crime_lapd["Premis Desc"].fillna("X")

# Replace null with "CC" in "Status" column
crime_lapd["Status"] = crime_lapd["Status"].fillna("CC")

# Remove columns that have too many null or not useful data
crime_lapd = crime_lapd.drop(["AREA", "Mocodes","Premis Cd", "Weapon Used Cd", "Weapon Desc", "Crm Cd 1",
                              "Crm Cd 2", "Crm Cd 3", "Crm Cd 4", "Cross Street"], axis=1)

In [20]:
# Change data type to category
# "AREA NAME", "Rpt Dist No", "Part 1-2", "Crm Cd", "Crm Cd Desc", "Vict Sex", "Vict Descent", 
# "Premis Desc", "Status", "Status Desc"
crime_lapd["AREA NAME"] = crime_lapd["AREA NAME"].astype("category")
crime_lapd["Rpt Dist No"] = crime_lapd["Rpt Dist No"].astype("category")
crime_lapd["Part 1-2"] = crime_lapd["Part 1-2"].astype("category")
crime_lapd["Crm Cd"] = crime_lapd["Crm Cd"].astype("category")
crime_lapd["Crm Cd Desc"] = crime_lapd["Crm Cd Desc"].astype("category")
crime_lapd["Vict Sex"] = crime_lapd["Vict Sex"].astype("category")
crime_lapd["Vict Descent"] = crime_lapd["Vict Descent"].astype("category")
crime_lapd["Premis Desc"] = crime_lapd["Premis Desc"].astype("category")
crime_lapd["Status"] = crime_lapd["Status"].astype("category")
crime_lapd["Status Desc"] = crime_lapd["Status Desc"].astype("category")

# Convert "Date Rptd" and "DATE OCC" to datetime 
crime_lapd["Date Rptd"] = pd.to_datetime(crime_lapd["Date Rptd"])
crime_lapd["DATE OCC"] = pd.to_datetime(crime_lapd["DATE OCC"])

# Change TIME OCC to HH:MM
crime_lapd["TIME OCC"] = crime_lapd["TIME OCC"].astype(str).str.zfill(4)
crime_lapd["TIME OCC"] = crime_lapd["TIME OCC"].str[:2] + ':' + crime_lapd["TIME OCC"].str[2:]

# Combine into a single datetime
crime_lapd["DATE OCC"] = pd.to_datetime(crime_lapd["DATE OCC"].astype(str) + ' ' + crime_lapd["TIME OCC"])
crime_lapd = crime_lapd.drop(["TIME OCC"], axis=1)

C:\Users\ASUS PC\AppData\Local\Temp\ipykernel_1456\2123663149.py:16: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  crime_lapd["Date Rptd"] = pd.to_datetime(crime_lapd["Date Rptd"])
C:\Users\ASUS PC\AppData\Local\Temp\ipykernel_1456\2123663149.py:17: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  crime_lapd["DATE OCC"] = pd.to_datetime(crime_lapd["DATE OCC"])

In [21]:
# Replace space with underscore in column names and convert to lowercase
crime_lapd.columns = crime_lapd.columns.str.replace(' ', '_').str.lower()

In [22]:
# Clean data in "vict_sex" column
crime_lapd['vict_sex'] = crime_lapd['vict_sex'].replace({'-': 'X', 'H': 'X'})
crime_lapd['vict_sex'] = crime_lapd['vict_sex'].fillna('X')

# Convert - to unknown
crime_lapd['vict_descent'] = crime_lapd['vict_descent'].replace({'-': 'X'})

# Convert 0 and negative age to null
crime_lapd['vict_age'] = crime_lapd['vict_age'].mask(crime_lapd['vict_age'] <= 0, pd.NA)

# Remove Year 2025 since it has less than 100 data
# Remove data from March 2024 till the latest 
cutoff_date = pd.Timestamp("2024-03-01")
crime_lapd = crime_lapd[crime_lapd["date_occ"] < cutoff_date]

# Find duplicates for ID
duplicates = crime_lapd[crime_lapd.duplicated(subset='dr_no', keep=False)]
print(duplicates) #None

Empty DataFrame
Columns: [dr_no, date_rptd, date_occ, area_name, rpt_dist_no, part_1-2, crm_cd, crm_cd_desc, vict_age, vict_sex, vict_descent, premis_desc, status, status_desc, location, lat, lon]
Index: []

C:\Users\ASUS PC\AppData\Local\Temp\ipykernel_1456\3617735868.py:2: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  crime_lapd['vict_sex'] = crime_lapd['vict_sex'].replace({'-': 'X', 'H': 'X'})
C:\Users\ASUS PC\AppData\Local\Temp\ipykernel_1456\3617735868.py:6: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  crime_lapd['vict_descent'] = crime_lapd['vict_descent'].replace({'-': 'X'})

In [23]:
print(crime_lapd.head())
print(crime_lapd.info())

       dr_no  date_rptd            date_occ    area_name rpt_dist_no part_1-2  \
0  211507896 2021-04-11 2020-11-07 08:45:00  N Hollywood        1502        2
1  201516622 2020-10-21 2020-10-18 18:45:00  N Hollywood        1521        1
2  240913563 2024-12-10 2020-10-30 12:40:00     Van Nuys         933        2
3  210704711 2020-12-24 2020-12-24 13:10:00     Wilshire         782        1
4  201418201 2020-10-03 2020-09-29 18:30:00      Pacific        1454        1

  crm_cd                                        crm_cd_desc  vict_age  \
0    354                                  THEFT OF IDENTITY      31.0
1    230     ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT      32.0
2    354                                  THEFT OF IDENTITY      30.0
3    331  THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...      47.0
4    420    THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)      63.0

  vict_sex vict_descent             premis_desc status  status_desc  \
0        M            H  SINGLE FAMILY DWELLING     IC  Invest Cont
1        M            H                SIDEWALK     IC  Invest Cont
2        M            W  SINGLE FAMILY DWELLING     IC  Invest Cont
3        F            A                  STREET     IC  Invest Cont
4        M            H                   ALLEY     IC  Invest Cont

                                   location      lat       lon
0   7800    BEEMAN                       AV  34.2124 -118.4092
1           ATOLL                        AV  34.1993 -118.4203
2  14600    SYLVAN                       ST  34.1847 -118.4509
3   6000    COMEY                        AV  34.0339 -118.3747
4                   4700    LA VILLA MARINA  33.9813 -118.4350
<class 'pandas.core.frame.DataFrame'>
Index: 913647 entries, 0 to 1004890
Data columns (total 17 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   dr_no         913647 non-null  int64
 1   date_rptd     913647 non-null  datetime64[ns]
 2   date_occ      913647 non-null  datetime64[ns]
 3   area_name     913647 non-null  category
 4   rpt_dist_no   913647 non-null  category
 5   part_1-2      913647 non-null  category
 6   crm_cd        913647 non-null  category
 7   crm_cd_desc   913647 non-null  category
 8   vict_age      683742 non-null  float64
 9   vict_sex      913647 non-null  category
 10  vict_descent  913647 non-null  category
 11  premis_desc   913647 non-null  category
 12  status        913647 non-null  category
 13  status_desc   913647 non-null  category
 14  location      913647 non-null  object
 15  lat           913647 non-null  float64
 16  lon           913647 non-null  float64
dtypes: category(10), datetime64[ns](2), float64(3), int64(1), object(1)
memory usage: 68.0+ MB
None

In [24]:
# Download as a new file
crime_lapd.to_csv("crime_20_24_clean.csv", index=False)

In [25]:
crime = pd.read_csv("crime_20_24_clean.csv")
crime.head()

,dr_no,date_rptd,date_occ,area_name,rpt_dist_no,part_1-2,crm_cd,crm_cd_desc,vict_age,vict_sex,vict_descent,premis_desc,status,status_desc,location,lat,lon
0,211507896,2021-04-11,2020-11-07 08:45:00,N Hollywood,1502,2,354,THEFT OF IDENTITY,31.0,M,H,SINGLE FAMILY DWELLING,IC,Invest Cont,7800 BEEMAN AV,34.2124,-118.4092
1,201516622,2020-10-21,2020-10-18 18:45:00,N Hollywood,1521,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",32.0,M,H,SIDEWALK,IC,Invest Cont,ATOLL AV,34.1993,-118.4203
2,240913563,2024-12-10,2020-10-30 12:40:00,Van Nuys,933,2,354,THEFT OF IDENTITY,30.0,M,W,SINGLE FAMILY DWELLING,IC,Invest Cont,14600 SYLVAN ST,34.1847,-118.4509
3,210704711,2020-12-24,2020-12-24 13:10:00,Wilshire,782,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,47.0,F,A,STREET,IC,Invest Cont,6000 COMEY AV,34.0339,-118.3747
4,201418201,2020-10-03,2020-09-29 18:30:00,Pacific,1454,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),63.0,M,H,ALLEY,IC,Invest Cont,4700 LA VILLA MARINA,33.9813,-118.4350